<html>

    <!-- Head -->
    <head>

        <link rel="stylesheet" href="/style/style.css">
        <title>صفحه اصلی</title>
        <h1>
            خوش آمدید به وبسایت ما
        </h1>

    </head>


    <!-- Body -->
    <body>

    <p>برای اضافه کردن کاربر به لیست زیر اطلاعات خود را وارد کنید</p>
    <div>
        <form action="/" method="POST">
            <input  type="text" placeholder="enter your id" name="id">
            <input type="text" placeholder="enter your name" name="name">
            <input type="text" placeholder="enter your email" name="email">
            <input type="submit">
        </form>
    </div>

    <% if(v != 0){%>
        <p style="color: red">!!اخطار!!</p>
        <p style="color: red">شما باید آیدی را به صورت عدد و ایمیل را به نحو صحیح وارد کنید</p>
    <%}%>

    <% if(b == 1){%>
        <p style="color: green">کاربر با موفقیت اضافه شد</p>
    <%}%>

    <% if(c == 1){%>
        <p style="color: yellow">کاربر با موفقیت حذف شد</p>
    <%}%>


    <hr>

            <table align="center">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Operation</th>
                    <th>User</th>
                </tr>

                  <% for(var i = 0; i < users.length; i++){%>
                  <tr>
                     <td><%= users[i].id %></td>
                     <td><%= users[i].name %></td>
                     <td><%= users[i].email%></td>
                     <td>
                         <form action="/<%= users[i].id %>?method=DELETE" method="post">
                             <input type="submit" value="Delete">
                         </form></td>
                      <td ><a href="/user/<%= users[i].id %>">User</a></td>

                 </tr>
                <%}%>
            </table>

    </body>


</html>