<html>
<head>
    <link rel="stylesheet" href="/style/style3.css">
    <meta charset="UTF-8">
    <title>Wellcome</title>
</head>
<body>

    <nav>
        <div id="div1"><lable><img id="img1" src="img/Aminslogo.png" alt=""></lable></div>
            <div id="div2">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/Login">Login</a></li>
                    <li><a href="/About">About</a></li>
                </ul>
            </div>
    </nav>
    <div id="div3">
        <h1 id="h1">Your Information</h1>
    </div>
    <br/><br/><br/>
    <div id="div4">

            <%if(true){%>
                <h1 id="inf">ID: <%= users[w].id%></h1><br/><br/>
                <h1 id="inf">FIRST NAME: <%= users[w].first_name%></h1><br/><br/>
                <h1 id="inf">LAST NAME: <%= users[w].last_name%></h1><br/><br/>
                <h1 id="inf">AGE: <%= users[w].age%></h1><br/><br/>
                <h1 id="inf">EMAIL: <%= users[w].email%></h1><br/><br/>
                <h1 id="inf">PASSWORD: <%= users[w].password%></h1><br/><br/>
            <%}%>

    </div>







</body>
</html>